<form hx-post="/signin">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="input-group">
        <div class="form-floating">
            <input class="form-control upper" type="text" name="user" id="user" placeholder="User name" required
                    {% if databases|length == 0 %} autofocus {% endif %}
                   value="{{ user }}"/>
            <label class="form-label" for="user">User name</label>
        </div>
        <button style="border-color: #dee2e6; margin-bottom: -1px; border-bottom-right-radius: 0;" class="btn btn-outline-secondary" type="submit"><i style="color: #dee2e6" class="bi bi-arrow-right-circle"></i></button>
    </div>

    <div class="form-floating">
        {% if databases|length > 1 %}
        <select class="form-select middle" name="database" id="database">
            {% for database in databases %}
                <option>{{ database.parentdb|e }}</option>
            {% endfor %}
        </select>
        <label for="database">Database</label>
    </div>

    {% else %}
        <input class="form-control" type="hidden" name="database"
               value="{{ databases|first.parentdb is not null ?   databases|first.parentdb : databases|first.screenname }}">
    {% endif %}

    {% if databases|length > 0 %}
        <div class="form-floating">
            <input class="form-control lower" type="password" name="password" id="password" placeholder="Password"
                   required autofocus/>
            <label class="form-label" for="password">Password</label>
        </div>
        <button type="submit" style="display: none"></button>
        <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign in</button>
    {% else %}

        <div class="form-floating">
            <input class="form-control lower" type="password" name="password2" id="password2" disabled
                   placeholder="Password"/>
            <label class="form-label" for="password2">Password</label>
        </div>

        <button type="submit" style="display: none"></button>
        <button disabled class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign in</button>
    {% endif %}

    <input type="hidden" name="response_type" value="{{ response_type }}"/>
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}"/>

    {% if state %}
        <input type="hidden" name="state" value="{{ state }}"/>
    {% endif %}
</form>
